<!DOCTYPE html>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootcards-desktop.min.css') }}">

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Whining With Aaron</title>
</head>
<body>
<div class="row">
    <div class="col-xs-18 col-lg-12 bootcards-cards">
        <div class="panel panel-default bootcards-richtext">

            <div class="panel-heading">
                <h1 class="panel-title">Wine Review</h1>
            </div>

                <p>* = required field</p>

                <div class="row">
                    <div class="col-md-6 bootcards-cards">
                        <div class="panel panel-default bootcards-richtext">
                            <div class="panel-heading">
                                <h2 class="panel-title">Wine Information</h2>
                            </div>
                            <div class="panel-body">
                                {{ form.color_selector.label }}
                                {{ form.color_selector }}

                                {{ form.sweetness_selector.label }}
                                {{ form.sweetness_selector }}

                                {{ form.wine_type.label }}
                                {{ form.wine_type }}

                                {{ form.wine_name.label }}
                                {{ form.wine_name }}

                                {{ form.wine_vintage.label }}
                                {{ form.wine_vintage }}

                                {{ form.wine_country.label }}
                                {{ form.wine_country }}

                                {{ form.wine_state.label }}
                                {{ form.wine_state }}

                                {{ form.wine_vineyard.label }}
                                {{ form.wine_vineyard }}

                                {{ form.taste_selector.label }}
                                {{ form.taste_selector }}

                                {{ form.wine_comments.label }}
                                {{ form.wine_comments }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>